.card {
	-fx-padding: 2px;
    -fx-border-color: black;
    -fx-border-width: 1.0px;
    -fx-border-radius:5.0px;
    -fx-background-radius:5.0px; 
	-fx-background-color:white;
    
    -fx-min-width: 20;
    -fx-pref-width: 110;
    -fx-max-width: 110;
    
    -fx-min-height: 70;
    -fx-pref-height: 160;
    -fx-max-height: 160;
}

.card:disabled{
	-fx-opacity: 0.5;
	
}

.card:hover{
	-fx-scale-x: 1.1;
    -fx-scale-y: 1.1;
}